.stepSelectedStyle{
	font-family: Arial; 
	font-size: 13px; 
	font-weight: bold; 
	font-style: normal; 
	text-decoration: none; 
	color: #5A6F9D;
}

.stepNotSelectedStyle{
	font-family: Arial; 
	font-size: 13px; 
	font-weight: bold; 
	font-style: normal; 
	text-decoration: none; 
	color: #333333;
}

